.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Nav-text {
  width: 20%;
  padding: 20px;
  color: #2697F5;
  background: #9CFED7;
  text-decoration: none;
  font-family: 'Milonga', cursive;
  transition: all ease-in-out .2s;
}

.Nav-text:hover {
  color: #2697F5;
  background: #A2D5FE;
}

